html,
body {
	height: 100%;
	user-select: none;
}
body {
	color-scheme: dark;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	background-color: #22222a;
	background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E" );
}

/* .......................................................................... */
#main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 16px;
	width: 100%;
	padding: 20px;
	max-width: 1000px;
	min-height: 0;
}

/* .......................................................................... */
#head {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
#title {
	display: flex;
	align-items: baseline;
	position: relative;
	z-index: 1;
	font-size: 24px;
	font-weight: bold;
	white-space: nowrap;

	span {
		margin-left: 10px;
		font-size: 12px;
		color: #999;
	}
	button {
		border: 0;
		padding: 0;
		margin-left: 4px;
		background: none;
		font-size: 16px;
	}
}
#logo {
	width: 100px;
	height: 32px;
	background: center no-repeat url( "../../assets/logo/wave.svg" );
}

/* .......................................................................... */
#content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 0;
	margin-bottom: auto;

	body[ data-landscape ] & {
		flex-direction: row;
	}
}

/* .......................................................................... */
#myWave {
	flex: 1;
	padding: 4px;
	min-height: 0;
	border-radius: 4px;
	background-image: linear-gradient( 90deg, #ff4040, #d07fff );
	box-shadow: 8px 8px 0 #0003;

	gsui-wave-editor {
		background-color: #334f;
	}
}

#myPiano {
	display: flex;
	min-width: 100px;
	min-height: 100px;

	gsui-keys {
		overflow: hidden;
		margin: auto;
		border-radius: 8px;
	}
}

/* .......................................................................... */
@media ( orientation: portrait ) AND ( max-height: 680px ) {
	.gsuiWaveEditor-tools button {
		height: 22px;
	}
}
@media ( orientation: portrait ) AND ( max-height: 650px ) {
	.gsuiWaveEditor-tools button {
		height: 18px;
	}
}
