html,
body {
	height: 100%;
	user-select: auto;
}
body {
	color-scheme: dark;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	background-color: #22222a;
	background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E" );
}
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background-color: #222; }
::-webkit-scrollbar-thumb { background-color: #777; }

/* .......................................................................... */
#head {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 10px;
	padding-top: 8px;
	gap: 12px;
}
#title {
	display: flex;
	align-items: baseline;
	position: relative;
	z-index: 1;
	font-size: 24px;
	font-weight: bold;
	white-space: nowrap;

	span {
		margin-left: 10px;
		font-size: 12px;
		color: #999;
	}
	button {
		border: 0;
		padding: 0;
		margin-left: 4px;
		background: none;
		font-size: 16px;
	}
}
#logo {
	width: 100px;
	height: 32px;
	background: center no-repeat url( "../../assets/logo/wave.svg" );
}

/* .......................................................................... */
#myWave {
	position: relative;
	display: flex;
	gap: 8px;
	width: calc( 100% - 40px );
	max-width: 1000px;
	min-height: 226px;
	user-select: none;

	gsui-wave-editor {
		background-color: #334;
	}
}
#niceBorder {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 60px;
	padding: 4px;
	border-radius: 4px;
	background-image: linear-gradient( 90deg, #ff4040, #d07fff );
	box-shadow: 8px 8px 0 #0003;
}

#myPiano {
	display: flex;
	margin-top: 20px;
	margin-bottom: auto;
	width: calc( 100% - 40px );
	height: 100px;

	gsui-keys {
		overflow: hidden;
		margin: auto;
		border-radius: 8px;
	}
}

/* .......................................................................... */
@media ( orientation: portrait ) AND ( max-height: 680px ) {
	.gsuiWaveEditor-tools button {
		height: 22px;
	}
}
@media ( orientation: portrait ) AND ( max-height: 650px ) {
	.gsuiWaveEditor-tools button {
		height: 18px;
	}
}

